#wrapper {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  max-width: 100vh;
}

#sidebar {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 20vh;
  height: 100vh;
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar li {
  margin: 10px 0;
}

#sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

#sidebar a:hover {
  color: #007bff;
}
